  * { 
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    height: 83px;
    justify-content: space-between;
    align-items: center;
}

.turnkey {
    display: flex;
    align-items: center;
    max-width: 1640px;
    margin: 0 auto;
}

.logo {
    color: #E3B873;
    flex-shrink: 0;
    margin-right: 95px;
}

.main-menu {
    display: flex;
    justify-content:space-around
}

.main-menu:hover {
    cursor: pointer;
}

.menu a {
    color: white;
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 47px;
}

.menu a:hover {
    color: #E3B873;
}

.phone a {
    color: #E3B873;
    text-decoration: none;
    margin-right: 45px;
}

.button {
    background: #E3B873;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width: 161px;
    height: 37px;
    flex-shrink: 0;
}

.button:hover {
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* section1 */

.picture-one {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
}

.picture-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);  
    z-index: 1;
}

.picture-container {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 53px;
    position: absolute;
    margin-top: 194px;
    margin-left: 134px;
}

.yellow-text {
    color: #E3B873;
}

.paragraf { 
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 22px;
    line-height: 36px;
    position: absolute;
    margin-top: 318px;
    margin-left: 134px;
    margin-bottom: 35px;
}

.button-one {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    color: white;
    margin-top: 448px;
    margin-left: 134px;
    margin-right: 20px;
    width: 207px;
    height: 51px;
    background: rgba(0, 0, 0, 0.5);
}

.button-two {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    width: 207px;
    height: 51px;
    background: rgba(0, 0, 0, 0.5);
}

.button-one:hover {
    cursor: pointer;
    background: #E3B873;
}

.button-two:hover {
    cursor: pointer;
    background: #E3B873;
}

/* section2 */

.picture-two {
    width: 100%;
    height: 1072px;
    background-color: #131313;
    overflow: auto;
}

.container2 {
    max-width: 1440px;
    margin: 0 auto;
    height: 107px;
}

.container2-body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    width: 100%;
    margin-bottom: 52px;

}

.menu22 a {
    font-family: 'Yeseva One', cursive;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 53px;
    border-bottom: 1px solid transparent;
}

.menu2 a:hover {
    color: #E3B873;
    border-color: #E3B873;
}

.menu-left {
    margin-top: 176px;
    margin-right: 50px;
}

.menu-right {
    margin-top: 107px;
}

.only {
    color: white;
    margin-top: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    text-transform: uppercase;
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.sizes-one {
    display: flex;
}

.city {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 42px;
    margin-right: 124px;
}

.rostov {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-right: 77px;
}

.sizes-two {
    display: flex;
}

.apartment {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 42px;
}

.area {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
}

.sizes-free {
    display: flex;
}

.repair_time {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 34px;
    margin-right: 45px;
}

.repair_cost {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 34px;
}

.sizes-four {
    display: flex;
}

.months {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-right: 104px;
}

.upon_request {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
}

.project-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 236px;
}

.slider {
    margin-top: 81px;
}

.radius {
    color: #FFFFFF;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin-top: 81px;
}

/* section 3 */

.online_control {
    background: white;
}

.online {
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    color: white;
    margin-top: -300px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.collomn {
    display: flex;
    flex-direction: column;
}

.cameraall {
    margin-left: 705px;
    margin-right: 705px;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cameraall::before, .cameraall::after {
    content: "solid";
    color: #E3B873;
    width: 32px;
    height: 1.5px;

}


.hero3 {
    margin-top: 31px;
    margin-left: 311px;
    margin-right: 311px;
    position: relative;
}

.play {
    margin-top: -275px;
    margin-left: 677px;
    margin-right: 677px;
    position: relative;
    z-index: 1;
}

.play:hover {
    cursor: pointer;
}

.line {
    background: #E3B873;
    border-radius: 30px;
    margin-top: 220px;
    margin-left: 693px;
}

.paragraf_two {
    margin-top: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-bottom: 91.5px;
}

/* form */

.form {
    font-family: 'Nunito Sans', sans-serif;
    width: 770px;
    margin: 0 auto;
}

.form-main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.form-label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form_input {
    font-size: 14px;
    line-height: 23px;
    color: black;
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: transparent;
    outline: none;
}

.button_form {
    padding: 18px 10px;
    max-width: 200px;
    max-height: 51px;
    width: 200px;
    font-size: 13px;
    background: #E3B873;
    text-transform: uppercase;
    color:  white;
    border-radius: 2px;
    cursor: pointer;
}

.punkt {
    background: #E3B873;
    border-radius: 1px;
    border: 1.5px solid #FFFFFF;
    margin-right: 9px;
}

.checkbox {
    cursor: pointer;
    display: flex;
    margin-top: 34px;
    margin-bottom: 148px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

/* section 4 */


.types {
    background: white;
}

h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.molot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
}

.line_two {
    padding-top: 20px;
    padding-bottom: 20px;
}

.line_molot {
    padding-left: 19px;
    padding-right: 19px;
}

/* Parts1 */

.repair {
    display: flex;
    justify-content: space-around;

}

.decoration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 392px;
    flex-wrap: wrap;
}

.redecorating {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    width: 330px;
    height: 286px;
    margin-top: -128px;
    margin-left: 31px;
}

.Red, .Ove, .Des {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-top: 25px;
    margin-left: 34px;
}

.list-redecorating, .list-overhaul, .list-designer {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    width: 267px;
    height: 178px;
    margin: 13px 29px 49px 34px;
}

.rectangle900 {
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: -26px;
    margin-left: 31px;
}

/* Parts2 */

.decoration2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 392px;
    flex-wrap: wrap;
}

.overhaul {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    width: 330px;
    height: 286px;
    margin-top: -128px;
    margin-left: 31px;
}

.rectangle1800 {
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: -26px;
    margin-left: 31px;
}

/* Parts3 */

.decoration3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 392px;
    flex-wrap: wrap;
}

.designer {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    width: 330px;
    height: 286px;
    margin-top: -128px;
    margin-left: 31px;
}

.rectangle4000 {
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: -26px;
    margin-left: 31px;
}

.qqq, .qqq2, .qqq3 {
    font-family: 'Yeseva One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px;
}

/* Parts4 */

.partsfour {
    margin-top: 124px;
    display: flex;
    justify-content: space-between;
}

.form_box {

}

.fon {
    background: url(images/fon.png);
    background-color:rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 703px;
    height: 645px;
    position: absolute;
}

.form_li {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    position: relative;
    counter-reset: list;
    margin-top: 117px;
} 

.form_fon {
    list-style: none;
    counter-increment: list;
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 102px;
    margin-left: 249px;

}

.form_fon::before {
content: "0" counter(list);
background-color: #E3B873;
color: #fff;
width: 50px;
height: 50px;
margin-right: 17px;
border-radius: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

#round {
    background-color: white;
    width: 60px;
    height: 60px;
}



.form_black {
    position: relative;
    background-color: black;
    width: 506px;
    height: 509px;
    color:white;
}

.container_black {
    margin: 28px 48px 27px 48px;
}


.paragraff {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15px;
}

.form_two {

}

.form_input_two {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    outline: none;
    background-color: black;
}

.form-label_two {
    line-height: 33px;
    color: white;
}

.forma_discont {
    display: flex;
    flex-direction: column;

    margin-top: 110px;
}

.punkt_two {
    margin-right: 20px;
}

.discont {
    padding: 38px 33px 0;
    display: flex;
    align-items: center;
}

.pig {
    margin-top: 20px;
}

.help {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/* Section 5 */

.realize {
    background-image: url(../images/room.jpg);
    background-size: cover;
    height: 864px;
    position: relative;
    margin-top: 242px;
}

.realize::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);  
}

.realize_body {
    display: flex;
    position: relative;
}

.american {
    margin-left: 99px;
}

.american_body {
    font-family: 'Yeseva One', cursive;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    margin-top: 147px;
    margin-bottom: 47px;
    box-sizing: border-box;
    margin-right: 180px;
    width: 411px;
    height: 66px;
}

.spisok li {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    list-style: none;
    border-top: none;
}

.spisok li:hover {
    color: #E3B873;
    border-color: #E3B873;
    cursor: pointer;
    text-decoration: underline;
}

.images_left {
    display: flex;
    z-index: 1;
}

.colo1 {
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
    margin-right: 40px;
    padding-bottom: 40px;
}

.colo2 {
    display: flex;
    flex-direction: column;
    margin-bottom: -113px;
    margin-right: 40px;
    padding-bottom: 40px;
}

.image5 {
    margin-top: -40px;
    margin-bottom: 40px;
}

.image6 {
    margin-bottom: 67px;
}

.image7 {
    margin-top: -113px;
    margin-bottom: 40px;
}

.h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.friends {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 28px;
}

.friends::before, .friends::after {
    display: block;
    content: '';
    top: calc(50% - 1px);
    left: 0;
    height: 2px;
    width: 30px;
    background: #E3B873;
    margin-right: 5px;
    margin-left: 5px;
}

.customers {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636
}

/* Section 5 Parts2 */

.clients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clients_one, .clients_two, .clients_three {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);

}

.clients_photo_one, .clients_photo_two, .clients_photo_three {
    margin: 24px 23px 22px 20px;
}

h4 {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.text_one, .text_two, .text_three {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin: 39px 32px 90px 20px;
    text-transform: lowercase;
}

.groupOne, .groupTwo, .groupThree {
    display: flex;
}

.fedorova, .afanasyev, .kiriev {
    margin-top: 41px;
}

.but40, .but90, .but56 {
    background: #E3B873;
    /* box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5); */
    border: 0.75px solid #FFFFFF;
    font-family: 'Yeseva One', cursive;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    background-size: cover;
    margin-top: -40px;
    margin-left: -20px;
}

.clients_two {
    margin: 39px 54px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background: #333333;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    opacity: 0.1;
    background-size: cover;
}

/* Section6 */

.have {
    display: flex;
}

.form_three {
    width: 883px;
    height: 445;
    background-color: black;
    margin-top: 1100px;
    

}