  * { 
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    height: 83px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E3B873;
    margin-left: 92px;
    margin-right: 95px;
    flex-shrink: 0;
}

.main-menu {
    display: flex;
}

.main-menu:hover {
    cursor: pointer;
}

.menu a {
    color: white;
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 47px;
}

.menu a:hover {
    color: #E3B873;
}

.phone a {
    color: #E3B873;
    text-decoration: none;
    margin-right: 45px;
}

.button {
    background: #E3B873;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width: 161px;
    height: 37px;
    margin-right: 90px;
    flex-shrink: 0;
}

.button:hover {
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.picture-one {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
}

.picture-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);  
    z-index: 1;
}

.picture-container {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: 'Yeseva One', cursive;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 53px;
    position: absolute;
    margin-top: 194px;
    margin-left: 134px;
}

.yellow-text {
    color: #E3B873;
}

.paragraf { 
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 22px;
    line-height: 36px;
    position: absolute;
    margin-top: 318px;
    margin-left: 134px;
    margin-bottom: 35px;
}

.button-one {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    color: white;
    margin-top: 448px;
    margin-left: 134px;
    margin-right: 20px;
    width: 207px;
    height: 51px;
    background: rgba(0, 0, 0, 0.5);
}

.button-two {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    width: 207px;
    height: 51px;
    background: rgba(0, 0, 0, 0.5);
}

.button-one:hover {
    cursor: pointer;
    background: #E3B873;
}

.button-two:hover {
    cursor: pointer;
    background: #E3B873;
}

.picture-two {
    width: 100%;
    height: 1072px;
    background-color: #131313;
    overflow: auto;
}

.container2 {
    max-width: 1440px;
    margin: 0 auto;
    height: 107px;
}

.container2-body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    width: 100%;
}

.menu2 a {
    font-family: 'Yeseva One', cursive;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 53px;
}

.menu2 a:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.menu-left {
    margin-top: 176px;
    margin-right: 50px;
}

.menu-right {
    margin-top: 107px;
}

.only {
    color: white;
    margin-top: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.sizes-one {
    display: flex;
}

.city {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 42px;
    margin-right: 124px;
}

.rostov {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-right: 77px;
}

.sizes-two {
    display: flex;
}

.apartment {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 42px;
}

.area {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
}

.sizes-free {
    display: flex;
}

.repair_time {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 34px;
    margin-right: 45px;
}

.repair_cost {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 34px;
}

.sizes-four {
    display: flex;
}

.months {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-right: 104px;
}

.upon_request {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
}

.project-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 236px;
}

.slider {
    margin-top: 81px;
}

.radius {
    color: #FFFFFF;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin-top: 81px;
}

/* free section */

.online_control {
    background: white;
    width: 1440px;
    height: 1074px;
}

.collomn {
    display: flex;
    flex-direction: column;
}

.cameraall {
    margin-left: 623px;
    margin-right: 620px;
    margin-top: -300px;
}

.hero3 {
    margin-left: 311px;
    margin-right: 311px;
    position: relative;
}

.play {
    margin-top: -275px;
    margin-left: 677px;
    margin-right: 677px;
    position: relative;
    z-index: 1;
}

.play:hover {
    cursor: pointer;
}

.line {
    background: #E3B873;
    border-radius: 30px;
    margin-top: 220px;
    margin-left: 693px;
}

.paragraf_two {
    margin-top: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-bottom: 91.5px;
}

/* form */

.form {
    font-family: 'Nunito Sans', sans-serif;
    width: 770px;
    margin: 0 auto;
}

.form-main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
/* 
.form-menu, 
.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

.form-label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form_input {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: black;
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: transparent;
    outline: none;
}

.button_form {
    padding: 18px 10px;
    max-width: 200px;
    max-height: 51px;
    width: 200px;
    font-size: 13px;
    background: #E3B873;
    text-transform: uppercase;
    color:  white;
    border-radius: 2px;
    cursor: pointer;
}

.punkt {
    background: #E3B873;
    border-radius: 1px;
    border: 1.5px solid #FFFFFF;
    margin-right: 9px;
}

.checkbox {
    cursor: pointer;
    display: flex;
    margin-top: 34px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* section 4 */


.types {
    height: 1680px;
    background: white;
}

h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.molot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
}

.line_two {
    padding-top: 20px;
    padding-bottom: 20px;
}

.line_molot {
    padding-left: 19px;
    padding-right: 19px;
}

/* Parts1 */

.decoration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 392px;
    flex-wrap: wrap;
}

.redecorating {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    width: 330px;
    height: 286px;
    margin-top: -128px;
    margin-left: 31px;
}

.Red {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-top: 25px;
    margin-left: 34px;
}

.list-redecorating {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    width: 267px;
    height: 178px;
    margin: 13px 29px 49px 34px;
}

.rectangle {
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: -26px;
    margin-left: 31px;
}

.qqq {
    font-family: 'Yeseva One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 21.44px;
}

/* Parts2 */

/* .overhaul {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    width: 330px;
    height: 268px;
}

.list-overhaul {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-top: 13px;
}

.designer_repair {
    
}

.list_designer_repair {
    
} */



